body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

table {
    margin-top: 20px;
}

td.ocupado {
    background-color: #aaffaa; /* Color verde claro para horarios ocupados */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
